<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"

         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">


    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>com.fullLearn.servlets.ContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/fetch/contacts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserWeekStats</servlet-name>
        <servlet-class>com.fullLearn.servlets.UserStatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserWeekStats</servlet-name>
        <url-pattern>api/learn/stats/userId/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LearningStatsAvg</servlet-name>
        <servlet-class>com.fullLearn.servlets.AllAverageStatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LearningStatsAvg</servlet-name>
        <url-pattern>api/learn/average/all</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FullLearnProjectWeeklyReport</servlet-name>
        <servlet-class>com.fullLearn.servlets.FullLearnProjectWeeklyReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FullLearnProjectWeeklyReport</servlet-name>
        <url-pattern>api/report/weekly</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FullLearnProjectLearningStatsAverage</servlet-name>
        <servlet-class>com.fullLearn.servlets.FullLearnProjectLearningStatsAverage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FullLearnProjectLearningStatsAverage</servlet-name>
        <url-pattern>api/report/stats/average</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>ContactSyncTaskQueue</servlet-name>
        <servlet-class>com.fullLearn.servlets.ContactSyncTaskQueue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactSyncTaskQueue</servlet-name>
        <url-pattern>/contact/sync/task/queue</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>FullLearnProjectTwelveWeeksStatsServlet</servlet-name>
        <servlet-class>com.fullLearn.servlets.FullLearnProjectTwelveWeeksStatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FullLearnProjectTwelveWeeksStatsServlet</servlet-name>
        <url-pattern>api/report/fetch/stats/twelveweeks</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FullLearnProject</servlet-name>
        <servlet-class>com.fullLearn.servlets.DailyUserStatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FullLearnProject</servlet-name>
        <url-pattern>/sync/stats/daily</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FullLearnProjectTaskQuequeServlet</servlet-name>
        <servlet-class>com.fullLearn.servlets.FullLearnProjectTaskQuequeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FullLearnProjectTaskQuequeServlet</servlet-name>
        <url-pattern>api/fetch/user/stats</url-pattern>
    </servlet-mapping>



    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
